
.cajon-1 {
    background-color: #93B5C9;
    width: 100%;
    height: 100px;
    float: none;

}

.cajon-2 {
    background-color: #AB2849;
    
    width: 100%;
    height: 150px;
    float: none;
   
}



.cajon-31 {

    background-color: #AB2849;
     
    margin: 10px 0px 10px 0px;
    width: 80%;
    height: 100px;
  
    clear: left;

    
} 


.cajon-4 {
    background-color: #AB2849;
    width: 95%;
    height: 80px;
    float: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    

   
  
   
}

/*
 2) Detectar elementos flotantes clear:both | right | left; */
